
        h1 {
            font-size: 30px;
        }

        #massage {
            font-size: 15px;
            color: blue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            position: fixed;
            top: 200px;
            left: 50px;
        }

        #msg_game_id {
            font-size: 15px;
            color: blue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            position: fixed;
            top: 170px;
            left: 50px;
        }

        #board {
            border: 2px solid blue;
            background-color: aquamarine;
            width: 376px;
            height: 322px;
            margin: auto;
            position: fixed;
            top: 80px;
            left: 360px;
        }

        #base {
            border: 3px solid blue;
            background-color: silver;
            width: 390px;
            height: 10px;
            position: fixed;
            top: 404px;
            left: 353px;
        }

        .cellStyle {
            border: 1px solid blue;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            float: left;
            background-color: rgb(255, 235, 205);
            padding: 0.5px;
            margin: 0.5px;
            text-align: center;
            color:rgb(255, 235, 205); 
            font-size: 1px;

        }

        #startBut {
            position: fixed;
            top: 150px;
            left: 50px;
            width: 200px;
            border-radius: 40%;
            background-color: aqua;

        }

        .hidden {
            display: none;
        }

        .shown {
            display: block;
        }
    
